body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.inicio::before{
    content: '';
    position: absolute;
    top: 128px;
    left: 635px;
    width: 4%;

}
.inicio:hover::before{
    transform: scaleX(0);
    transition: all .5s ease;
    border-bottom: 2px solid #FFF;

}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 30%;
}
.product img {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

